.serviceCart {
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 50px;

  .serviceImg {
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    overflow: hidden;
    transition: all var(--transition);

    img {
      border-radius: 5px 5px 0 0;
      transition: all 0.4s ease-in-out;
      width: 100%;
      object-fit: cover;
      // height: 300px;

      cursor: pointer;
      @media (max-width: 425px) {
        height: 250px;
      }
      @media (max-width: 375px) {
        height: 220px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .badge {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      width: 69px;
      height: 69px;
      background: var(--color-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: 700;
      font-size: 24px;
      line-height: 37px;
      border-radius: 5px 0 0 0;
    }
  }

  .serviceItem {
    padding: 20px;
    border-radius: 0 0 5px 5px;
    border: 0.2px solid #ddd;
    height: 180px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    h5 {
      color: var(--color-primary);
      margin-bottom: 10px;
      font-size: 19px;
      line-height: 1.24;
      font-weight: 700;
      transition: var(--transition);
      cursor: pointer;

      &:hover {
        color: var(--secondry);
      }
    }
    p {
      margin-bottom: 22px;
      font-size: 15px;
      line-height: 30px;
      font-weight: 400;
      color: #696969;
      @media (max-width: 375px) {
        margin-bottom: 10px;
        line-height: 22px;
      }
    }
  }
}

.services_container {
  position: relative;
}
